/* GENERAL STYLING */
body {
    background-color: rgb(250, 251, 255);
}

.navbar {
    box-shadow: 0 5px 3px -3px rgb(177, 177, 177);
    background-color: white;
}

#nav-icon {
    height: 60px;
    width: 60px;
}

/* CREATE PIPELINE STYLING */
#create_form {
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);
    width: 70%;
    margin: 50px auto;
    height: 600px;
}

/* MY PIPELINES STYLING */
#my_pipelines_container{
    background-color: rgb(250, 251, 255);
}

#my_pipelines_blurb {
    width: 50%;
    margin-left: 25%;
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
    text-align: center;
}


/* DETAIL VIEW STYLING */
#detail-view-container {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
}

#detail-view-div {
    height: auto;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);
}

.detail-view-section {
    width: 90%;
    margin-left: 5%;
}

hr {
    width: 90%;
    margin-left: 5%;
}