@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;0,400;0,700;1,200&display=swap');

/* GENERAL STYLING */
body {
    background-color: rgb(250, 251, 255);
}

.navbar {
    box-shadow: 0 5px 3px -3px rgb(177, 177, 177);
    background-color: white;
}

.nav-item {
    font-size: 17px;
}

#nav-title {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.navbar-collapse {
    text-align: center;
}

#nav-icon {
    height: 35px;
    width: 35px;
}

.nav-item a {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-item p {
    color: black;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: black;
}

.nav-item a:hover {
    text-decoration: underline double black;
    text-underline-position: under;
    text-underline-offset: 3px;
    color: black;
}


/* INDEX/HOMEPAGE STYLING */

#index-container {
    background-color: rgb(250, 251, 255);
}

#banner-section {
    background-color: rgb(250, 251, 255);
}

#index-banner {
    height: 50vh;
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682189/pexels-spacex-60132_ougyj5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#index-banner-text {
    text-align: center;
    margin-top: 50px;
}

#site-purpose-section {
    text-align: center;
    padding-bottom: 100px;
}

.purpose-section {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin-left: 5%;
}

#purpose-img1,
#purpose-img2,
#purpose-img3,
#purpose-img4,
#purpose-img5,
#purpose-img6,
#purpose-img7 {
    height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
}

#purpose-img1 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682319/san-fran-google_qpe6cf.jpg');
}

#purpose-img2 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682184/san-fran_gtesjh.jpg');
}

#purpose-img3 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682186/spectator-satellites_f9gzzb.jpg');
}

#purpose-img4 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682186/7141cdc97a17b5a5da4da31e994b17d2_igxqw9.jpg');
}

#purpose-img5 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682186/nasa_tds1ps.jpg');
}

#purpose-img6 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682213/landsat-image_uwmjnv.jpg');
}

#purpose-img7 {
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682213/image_4_-_the_parched_parana_river_ku0fqt.jpg');
}

.purpose-section button {
    width: 200px;
}

.purpose-section button:hover {
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    color: black;
}

/* DISCOVER STYLING */

#discover-banner {
    height: 60vh;
    background-image: url('https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682217/pexels-pixabay-41949_eondcs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#discover-banner h1 {
    color: white;
    text-align: center;
    font-size: 70px;
}

#discover-container {
    text-align: center;
}

#discover-container div {
    padding-top: 30px;
}

#applications .card {
    border: none;
}

#applications img {
    height: 30vh;
    border-radius: 5px;
    border: none;
}

/* CREATE PIPELINE STYLING */
#create_container,
#edit-container {
    background-color: rgb(250, 251, 255);
    height: 100vh;
}

#create_form,
#edit_form,
#delete_form {
    position: relative;
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);
    width: 70%;
    margin: 50px auto;
    height: auto;
    margin-top: 120px;
    padding: 40px;
}

.input-sections {
    padding-top: 25px;
}

/* #id_aoi {
    display:none;
} */

#create-map {
    width: 100%;
    height: 60vh;
    box-shadow: 0 0 3px rgb(177, 177, 177);
    margin-bottom: 20px;
}

#review-aoi {
    width: 100%;
    height: 50vh;
    box-shadow: 0 0 3px rgb(177, 177, 177);
    margin-bottom: 20px;
    margin-top: 30px;
}

input,
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 9px 0;
    display: inline-block;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 4px;
    font-family: Noto Sans Display;
    font-size: 12px;
}

/* library - https://www.w3schools.com/howto/howto_js_form_steps.asp */
.tab {
    min-height: 70vh;
    height: auto;
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

input.invalid {
    background-color: #fad1b9;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04aa6d;
}

.output-label {
    text-align: center;
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

.output-label img {
    width: 100%;
    height: 100%;
    margin-left: 0;
    box-shadow: 0 0 3px rgb(177, 177, 177);
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio]:hover+img {
    opacity: 0.6
}

.image-parent {
    position: relative;
    top: 0;
    left: 0;
}

.image-image {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.image-des {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.image-parent:hover img {
    opacity: 0.2;
}

.image-parent:hover div {
    visibility: visible;
}

#parameters_form_section img {
    width: 100%;
    height: 60%;
    box-shadow: 0 0 3px rgb(177, 177, 177);
}

#cloud-cover p {
    text-align: center;
    margin-top: 20px;
}

#interval_feedback {
    padding-top: 30px;
}

#buttons-div {
    padding-top: 40px;
}

.form_limits {
    font-weight: bold;
    color: rgb(16, 12, 63);
}

#feedback-table,
#feedback-aoi {
    width: 60%;
    margin-left: 20%;
}

.table-section {
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
}

.table-left {
    text-align: right;
    width: 40%;
}

.table-right {
    text-align: center;
    width: 60%;
}


/* MY PIPELINES STYLING */

.pipelines_links {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.pipelines_links:hover {
    text-decoration: underline double black;
    text-underline-position: under;
    text-underline-offset: 3px;
    color: black;
}

#my_pipelines_container h3 {
    font-weight: 700;
}

#my_pipelines_container hr {
    width: 100%;
    margin-left: 0%;
}

#my_pipelines_container {
    background-color: rgb(250, 251, 255);
    font-family: Noto Sans Display, sans-serif;
    padding-bottom: 50px;
    /* overflow: hidden; */
}

#my_pipelines_blurb {
    width: 60%;
    margin-left: 20%;
    margin-top: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
    text-align: center;
}

#pipeline_list_div h1 {
    font-weight: 900;
}

#pipeline_list_div h3 {
    text-transform: uppercase;
}

#pipeline_list_div a {
    font-style: italic;
    text-decoration: none;
    color: black;
}

#pipeline_list_div {
    height: auto;
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);
}

#pipeline_card {
    
}


.card-img-top {
    /* border: solid 1px rgb(177, 177, 177); */
    /* height: 300px; */
    background-color: rgb(250, 251, 255);
}

.card-img-top:hover {
    opacity: 0.5;
}

#active_pipelines,
#complete_pipelines,
#pending_pipelines,
#saved_pipelines {
    padding: 15px;
}


/* DETAIL VIEW STYLING */
/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #nav-title {
        font-size: 30px;
    }

    #nav-icon {
        height: 55px;
        width: 55px;
    }

    #pipeline_list_div {
        width:80%;
        margin-left: 10%;
    }

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #banner-section {
        margin-top: 50px;
    }

    #index-banner {
        background-size: cover;
        height: 70vh;
    }




}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .navbar {
        padding-left: 40px;
    }

    #purpose-img1,
    #purpose-img2,
    #purpose-img3,
    #purpose-img4,
    #purpose-img5,
    #purpose-img6,
    #purpose-img7 {
        height: 50vh !important;
    }

    .purpose-section {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
        width: 60% !important;
        margin-left: 20% !important;
    }

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    #pipeline_list_div {
        width:60%;
        margin-left: 20%;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    #index-banner-text {
        width: 60%;
        margin-left: 10%;
        text-align: left;
    }

    #banner-section {
        margin-top: 70px;
    }
}

#detail-view-container {
    background-color: rgb(250, 251, 255);
    padding-bottom: 50px;
}

#detail-links {
    padding-top: 160px;
}

#detail-links p {
    text-align: center;
}

#detail-view-div {
    height: auto;
    width: 70%;
    margin-top: 50px;
    margin-left: 15%;
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);
    padding: 40px;
}


.detail-view-section {
    margin: 20px 0 20px 0;
}

#detail-table {
    width: 40%;
    margin-left: 30%;
}

i {
    margin-right: 10px;
}

#detail-links button,
.detail-view-section button {
    width: 200px;
}

#detail-links button:hover,
.detail-view-section button:hover,
#edit-container button:hover {
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    color: black;
}

#interval-table {
    width: 50%;
    margin-left: 25%;
}

#aoi-table textarea {
    font-size: 12px;
    height: 150px;
}

#result-table {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
}

#detail-view-div hr {
    width: 100%;
    margin-left: 0;
}

.parameters-section {
    padding-top: 25px;
}

#aoi-table {
    width: 60%;
    margin-left: 20%;
}

#result-table td,
#interval-table td,
#result-table th,
#interval-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#result-table tr:nth-child(even),
#interval-table tr:nth-child(even) {
    background-color: #ebf0fc;
}

#result-table tr:hover,
#interval-table tr:hover {
    background-color: #ddd;
}

#result-table th,
#interval-table th {
    background-color: #8794b3;
    color: white;
    font-weight: bold;
}

/* EDIT VIEW STYLING */
#edit-container a {
    color: black;
}

#edit-container a:hover {
    font-weight: bold;
}

/* #edit-container[input=radio] {
    width: 50px;
    height: 50px;
    border: solid red 1px;
} */

/* DELETE CONF VIEW */
#delete_conf h2 {
    text-align: center;
}