@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,200;0,400;0,700;1,200&display=swap');

/* GENERAL STYLING */
body {
    background-color: rgb(250, 251, 255);
}

#nav-title{

}

.navbar {
    box-shadow: 0 5px 3px -3px rgb(177, 177, 177);
    background-color: white;
    padding-left: 40px;
}

.nav-item{
    font-size: 17px;
}

#nav-title {
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.navbar-collapse {
    padding-left: 100px;
}

#nav-icon {
    height: 60px;
    width: 60px;
}

.nav-item a {
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-item p {
    color: black;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: black;
}

/* CREATE PIPELINE STYLING */
#create_form {
    position: relative;
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);
    width: 70%;
    margin: 50px auto;
    height: auto;
    margin-top: 120px;
}


input, 
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 9px 0;
    display: inline-block;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 4px;
    font-family: Noto Sans Display;
    font-size: 12px;
}

/* library - https://www.w3schools.com/howto/howto_js_form_steps.asp */
.tab {
    min-height: 80vh;
    height: auto;
    display: none;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

input.invalid {
    background-color: #fad1b9;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04aa6d;
}

/* MY PIPELINES STYLING */
.pipelines_links {
    text-decoration: none;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.pipelines_links:hover{
    text-decoration: underline double black;
    text-underline-position: under;
    text-underline-offset: 3px;
    color: black;
}

#my_pipelines_container h3 {
    font-weight: 700;
}

#my_pipelines_container hr {
    width: 100%;
    margin-left: 0%;
}

#my_pipelines_container{
    background-color: rgb(250, 251, 255);
    font-family: Noto Sans Display, sans-serif;
}

#my_pipelines_blurb {
    width: 60%;
    margin-left: 20%;
    margin-top: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
    height: auto;
    text-align: center;
}

#pipeline_list_div h1 {
    font-weight: 900;
}

#pipeline_list_div h3 {
    text-transform: uppercase;
}

#pipeline_list_div a {
    font-style: italic;
    text-decoration: none;
    color: black;
}

#pipeline_list_div {
    height: auto;
    width: 80%;
    margin-left: 10%;
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);;
}

#pipeline_card{
    border: none;
}

#pipeline-card-img {
    border: solid rgb(68, 68, 68) 1px;
    height: 220px;
}

#active_pipelines,
#complete_pipelines,
#pending_pipelines,
#saved_pipelines {
    padding: 25px;
}


/* DETAIL VIEW STYLING */
#detail-view-container {
    background-color:rgb(250, 251, 255);
}

#detail-view-div {
    height: auto;
    width: 70%;
    margin-top: 150px;
    margin-left: 15%;
    background-color: white;
    box-shadow: 0 0 3px rgb(177, 177, 177);
}

.detail-view-section {
    width: 90%;
    margin-left: 5%;
}

hr {
    width: 90%;
    margin-left: 5%;
}