{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>API not reached</title>
{% endblock title %}

{% block content %}

<div class="container-fluid" id="edit-container">
    <div class="container d-flex align-items-center" style="height: 80vh;">

        <h2>Unfortunately, the Application Programming Interface (API) we use to create pipelines, as well as updating and fetching results, is not available right now.  Please try again later.</h2>
        <p></p>

    </div>

</div>


{% endblock content %}