{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Create a pipeline</title>
{% endblock title %}

{% block content %}

<div class="container-fluid">
    <form action="" method="POST" id="create_form">
        {% csrf_token%}

        <!-- general form section -->
        <div id="general_form_section" class="tab">
            <div class="row">

                <div class="col">
                    <div class="form_title">
                        <h4>General</h4>
                        <br>
                        <p>Provide some general details to identify your pipeline</p>
                    </div>
                </div>

                <div class="col d-flex justify-content-end">
                    <a><button>Save Progress</button></a>
                </div>
            </div>

            <div class="section_div">
                <div class="input-sections" id="form_name_div">
                    <label for="pipeline_name" class="form-label">Name</label>
                    {{form.pipeline_name}}
                </div>

                <div class="input-sections" id="form-des-div">
                    <label for="pipeline_des" class="form-label">Description</label>
                    {{form.pipeline_des}}
                </div>
            </div>
        </div>

        <!-- buttons and progress display section -->
        <div id="buttons-div">
            <div class="row align-items-center">
                <div class="col d-flex justify-content-start">
                    <button type="button" id="prevButton" onclick="nextPrev(-1)">Previous</button>
                </div>

                <div class="col d-flex justify-content-center">
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                    <span class="step"></span>
                </div>

                <div class="col d-flex justify-content-end">
                    <button type="button" id="nextButton" onclick="nextPrev(1)">Next</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    // library - https://www.w3schools.com/howto/howto_js_form_steps.asp
    // this step form uses code from the above link

    var currentTab = 0;
    showTab(currentTab)

    function showTab(num) {
        var tab = document.getElementsByClassName('tab');
        tab[n].style.display = 'block';

        fixStepIndicator(num)
    }

    function fixStepIndicator(num) {

        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }

        x[n].className += " active";
    }
</script>

{% endblock content %}