{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Delete pipeline confirmation</title>
{% endblock title %}

{% block content %}
<div class="container-fluid" id="delete_conf_container">
    <div class="row justify-content-md-center">
        <div id="delete_conf" class="col-md-auto">

            <h2><strong>{{pipeline.pipeline_name}}</strong> has been deleted</h2>

            <div class="pt-5 d-flex justify-content-evenly">
                <a href="{% url 'my_pipelines' %}"><button type="submit" class="btn btn-dark btn-lg"><i
                            class="fas fa-home"></i>My Pipelines</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}