{% extends 'index.html' %}
{% load static %}

{% block title %}
<title></title>
{% endblock title %}

{% block content %}

<div id="detail-view-container" class="container-fluid">

    <a href="{% url 'edit_pipeline' pipeline.id %}">EDIT</a>

    <p>{{pipeline.results_updated}}</p>

    <div id="detail-view-div">

        <!-- pipeline general info section -->
        <div class="detail-view-section">

            <!-- pipeline general info table -->
            <div>
                <h1>{{pipeline.pipeline_name}}</h1>
                <p>{{pipeline.pipeline_des}}</p>
            </div>


            <!-- put map here -->
            <div id="map"></div>

            <!-- pipeline general info table -->
            <div>
                <table>
                    <tr>
                        <td>Status:</td>
                        <td>{{pipeline.status}}</td>
                    </tr>
                    <tr>
                        <td>Date created:</td>
                        <td>{{pipeline.date_created}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <hr>

        <!-- pipeline interval section -->
        <div class="detail-view-section">

            <div>
                <h3>Intervals</h3>

                {% if pipeline.status == 'pending' %}
                <p>Update the pipeline to see interval information</p>
                {% else %}

                <div class="detail-view-section">
                    <!-- put chart here -->
                </div>

                <!-- put result table here -->
                <div>
                    <p>Current interval: </p>
                    <p>Next interval: </p>
                </div>
                {% endif %}


            </div>

        </div>

        <hr>

        <!-- pipeline results section -->
        <div class="detail-view-section">
            <h3>Results</h3>
            {% if pipeline.status == 'pending' %}
            <p>Update the pipeline to see results information</p>
            {% else %}
            {% for result in results %}
            {{result}}
            {% endfor %}
            {% endif %}
        </div>

        <hr>

        <!-- pipeline parameters section -->
        <div class="detail-view-section">
            <h3>Parameters</h3>
            {% if pipeline.status == 'pending' %}
            <p>Update the pipeline to see parameters information</p>
            {% else %}

            <h5>AOI</h5>
            <h5>Cover percentage</h5>
            <h5>Output</h5>

            {% endif %}

        </div>

        <hr>

        <!-- pipeline edit/update/delete section -->
        <div class="detail-view-section">
            <h3>Edit</h3>
            {% if pipeline.status == 'pending' %}
            <p>Pipelines cannot be edited or deleted when the status is "Pending".</p>
            {% else %}
            {% endif %}

        </div>

    </div>

</div>






{% endblock content %}