{% extends 'index.html' %}
{% load static %}

{% block title %}
<title></title>
{% endblock title %}

{% block content %}

<div id="detail-view-container" class="container-fluid">

    {% if user.is_authenticated %}

    <div class="container" id="detail-links">
        <div class="d-flex justify-content-center">
            <div class="px-4">
                <a href="{% url 'my_pipelines' %}"><button type="button" class="btn btn-dark"><i
                            class="fas fa-arrow-left"></i>Back to
                        pipelines</button></a>
            </div>
            <div class="px-4">
                <a href="{% url 'update' pipeline.id %}"><button type="button" class="btn btn-dark"><i
                            class="fas fa-sync"></i>Update pipeline</button></a>

                {% if pipeline.results_updated is None %}
                <p><strong>Pipeline pending:<br> update to see results</strong></p>
                {% else %}
                <p><small>updated: {{pipeline.results_updated}}</small></p>
                {% endif %}

            </div>
            <div class="px-4">
                <a href="{% url 'edit_pipeline' pipeline.id %}"><button type="button" class="btn btn-dark"><i
                            class="fas fa-edit"></i>Edit</button></a>
            </div>
        </div>
    </div>

    <div id="detail-view-div">

        <!-- pipeline general info section -->
        <div class="detail-view-section">

            <!-- pipeline general info table -->
            <div>
                <h1>{{pipeline.pipeline_name}}</h1>
                <p>{{pipeline.pipeline_des}}</p>
            </div>


            <!-- put map here -->
            <div id="detail_map"
                style="width: 100%; height: 600px; box-shadow: 0 0 3px rgb(177, 177, 177); padding-bottom: 50px;"></div>
            <br>
            <br>

            <!-- pipeline general info table -->
            <div>
                <table id="detail-table">
                    <tr>
                        <td>Status:</td>
                        <td>{{pipeline.status}}</td>
                    </tr>
                    <tr>
                        <td>Date created:</td>
                        <td>{{pipeline.date_created}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <hr>

        <!-- pipeline interval section -->
        <div class="detail-view-section">

            <div>
                <h3>Intervals</h3>

                {% if pipeline.status == 'pending' %}
                <p>Update the pipeline to see interval information</p>
                {% else %}

                <div class="detail-view-section">
                    <!-- put chart here -->
                </div>

                <br>
                <br>

                <table id="interval-table">
                    <tr>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Status date</th>
                    </tr>

                    {% for result in results %}
                    <tr>
                        <td>{{result.interval_start_date}}</td>
                        <td>{{result.interval_end_date}}</td>
                        <td>{{result.status}}</td>
                    </tr>
                    {% endfor %}
                </table>

                <!-- interval status table -->
                <div>
                    <table id="detail-table">
                        <tr>
                            <td>Current interval:</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Next interval:</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                {% endif %}


            </div>

        </div>

        <hr>

        <!-- pipeline results section -->
        <div class="detail-view-section">
            <h3>Results</h3>
            {% if pipeline.status == 'pending' %}
            <p>Update the pipeline to see results information</p>
            {% else %}
            <table id="result-table">
                <tr>
                    <th>Status</th>
                    <th>Interval dates</th>
                    <th>Image</th>
                    <th>Image Captured</th>
                    <th>Image Source</th>
                    <th>Metadata</th>
                </tr>

                {% for result in results %}

                <!-- if an image has been found for the result object -->
                <!-- display the image preview and image data -->
                {% if result.image_visual_url %}
                <tr>
                    <td>{{result.status}}</td>
                    <td>{{result.interval_start_date}} <br>to {{result.interval_end_date}}</td>
                    <td><a href="{{result.image_visual_url}}" target="_blank" download><img
                                style="height: 50px; width: 50px" src="{{result.image_visual_url}}"></a></td>
                    <td>{{result.image_created_at}}</td>
                    <td>{{result.image_source}}</td>
                    <td><a href="{{result.image_metadata_url}}" target="_blank"><i
                                class="fas fa-external-link-alt"></i></a></td>
                </tr>

                <!-- if there is no image found (yet) -->
                {% else %}
                <tr>
                    <td>{{result.status}}</td>
                    <td>{{result.interval_start_date}} <br>to {{result.interval_end_date}}</td>

                    <!-- if the result status is future, there may be a result in the future
                    so set to pending -->
                    {% if result.status == 'future' %}
                    <td><em>pending</em></td>

                    <!-- but if the interval is complete -->
                    {% else %}
                    <td><em>No image found</em></td>
                    {% endif %}
                    <td style="text-align: center;">-</td>
                    <td style="text-align: center;">-</td>
                    <td style="text-align: center;">-</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>

            {% endif %}
        </div>

        <hr>

        <!-- pipeline parameters section -->
        <div class="detail-view-section">
            <h3>Parameters</h3>
            {% if pipeline.status == 'pending' %}
            <p>Update the pipeline to see parameters information</p>
            {% else %}

            <div class="parameters-section">
                <h5>AOI</h5>

                <table id="aoi-table">
                    <tr>
                        <td>geoJSON:</td>
                        <td><textarea disabled>{{pipeline.aoi}}</textarea></td>
                    </tr>

                    <tr>
                        <td>Area:</td>
                        <td>{{pipeline.aoi_area}} km<sup>2</sup></td>
                    </tr>

                    <tr>
                        <td>AOI area coverage percentage:</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Cloud cover percentage:</td>
                        <td>{{pipeline.cloud_cover}}%</td>
                    </tr>
                </table>
            </div>

            <div class="parameters-section">
                <h5>Output</h5>

                <p>{{pipeline.get_output_image_display}}</p>

            </div>
            {% endif %}

        </div>

        <hr>

        <!-- pipeline edit/update/delete section -->
        <div class="detail-view-section">
            <h3>Edit</h3>
            {% if pipeline.status == 'pending' %}
            <p>Pipelines cannot be edited or deleted when the status is "Pending".</p>
            {% elif pipeline.status == 'complete' %}
            <p>Pipeline is completed, it can no longer be edited.</p>
            <div class="d-flex justify-content-center">
                <div class="px-5"><a href="{% url 'delete_view' pipeline.id %}"><button class="btn btn-dark"><i
                                class="far fa-trash-alt"></i>Delete pipeline</button></a></div>
            </div>
            {% else %}
            <p>Pipelines can be edited and deleted using the links below.</p>
            <div class="d-flex justify-content-center">
                <div class="px-5"><a href="{% url 'edit_pipeline' pipeline.id %}"><button class="btn btn-dark"><i
                                class="fas fa-edit"></i>Edit pipeline</button></a></div>
                <div class="px-5"><a href="{% url 'delete_view' pipeline.id %}"><button class="btn btn-dark"><i
                                class="far fa-trash-alt"></i>Delete pipeline</button></a></div>
            </div>
            {% endif %}

        </div>

    </div>
    {% else %}
    <p>Ooops.. you have been directed to the wrong page. <a href="{% url 'homepage' %}">Return to home</a></p>
    {% endif %}

</div>

{{ pipeline.aoi|json_script:"map_aoi" }}

<script>
    var mapbox_key = "{{ mapbox_key | safe}}";
    var aoi = JSON.parse(document.getElementById('map_aoi').textContent);
    var map_aoi = aoi["features"][0]['geometry'];

    var lat = aoi['features'][0]['geometry']['coordinates'][0][0][1];
    var long = aoi['features'][0]['geometry']['coordinates'][0][0][0];

    displayAOI();

    /* external library - Mapbox */
    function displayAOI() {
        mapboxgl.accessToken =
            mapbox_key;
        const map = new mapboxgl.Map({
            container: 'detail_map',
            style: 'mapbox://styles/mapbox/light-v10',
            center: [long, lat],
            zoom: 9,
        });

        map.on('load', () => {

            map.addSource('display_aoi', {
                'type': 'geojson',
                'data': {
                    'type': 'Feature',
                    'geometry': map_aoi,

                }
            });


            map.addLayer({
                'id': 'display_aoi',
                'type': 'fill',
                'source': 'display_aoi',
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff',
                    'fill-opacity': 0.5
                }
            });

            map.addLayer({
                'id': 'outline',
                'type': 'line',
                'source': 'display_aoi',
                'layout': {},
                'paint': {
                    'line-color': '#000',
                    'line-width': 3
                }
            });
        });
    }
    /* external library end  */
</script>




{% endblock content %}