{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Discover</title>
{% endblock title %}


{% block content %}

<div id="discover-banner" class="row justify-content-center">
    <div class="col-4 align-self-center">
        <h1>Discover</h1>
    </div>
</div>

<div class="container" id="discover-container">

    <div>
        <h3>Use this page to explore the applications of satellite imagery, how it works,
            read examples and how getting access has helped many businesses achieve more</h3>
    </div>

    <div class="row d-flex justify-content-evenly">
        <div class="col">
            <h4>Applications</h4>
        </div>

        <div class="col">
            <h4>Examples</h4>
        </div>

        <div class="col">
            <h4>In the news</h4>
        </div>
    </div>

    <div>

        <div class="purpose-section">
            <h3>Applications</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta euismod ligula in semper.
                Quisque dapibus pretium quam vitae congue.</p>
        </div>

        <div class="row">

            <h4>Meteorology</h4>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682231/noaasgoes13w_yu3tgs.jpg" class="card-img-top" alt="Weather systems">
                    <div class="card-body">
                      <h5 class="card-title">Weather prediction</h5>
                      <p class="card-text">Combined with visible light imaging, satellites can capture a
                        nearly full picture of weather systems</p>
                    </div>
                  </div>
            </div>

            <div class="col" id="discover-img2" title="">
            </div>

            <div class="col" id="discover-img2" title="">
            </div>

        </div>
    </div>

</div>


{% endblock content %}