{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Discover</title>
{% endblock title %}


{% block content %}

<div id="discover-banner" class="row justify-content-center">
    <!-- <div class="col-4 align-self-center">
        <h1>Discover</h1>
    </div> -->
</div>

<div class="container" id="discover-container">

    <h1>Discover</h1>

    <div class="row d-flex justify-content-evenly">
        <div class="col-md-6 p-2">
            <p>Use this page to explore the applications of satellite imagery, how it works,
                read examples and how getting access has helped many businesses achieve more</p>
        </div>
    </div>

    <div class="row d-flex justify-content-evenly">
        <div class="col-md p-1">
            <a class="a-links" href="#discover-applications-title">Applications</a>
        </div>

        <div class="col-md p-1">
            <a class="a-links" href="#discover-examples-title">Examples</a>
        </div>

        <div class="col-md p-1">
            <a class="a-links" href="#discover-news-title">News</a>
        </div>

        <div class="col-md p-1">
            <a class="a-links" href="#discover-glossary-title">Glossary</a>
        </div>

        <div class="col-md p-1">
            <a class="a-links" href="#discover-faq-title">FAQ</a>
        </div>
    </div>

    <div id="discover-applications">
        <div class="purpose-section">
            <h3 id="discover-applications-title">Applications</h3>
            <p>Satellite imagery, or remote sensing data, provides essential observation and analysis related to the
                Earth's surface
                and environment due to their priviledge point of view. See some common applications below.</p>
        </div>

        <div class="row">

            <h4>Meteorology</h4>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682231/noaasgoes13w_yu3tgs.jpg"
                        class="card-img-top" alt="Weather systems">
                    <div class="card-body">
                        <h5 class="card-title">Weather prediction</h5>
                        <p class="card-text">Combined with visible light imaging, satellites can capture a
                            nearly full picture of weather systems</p>
                    </div>
                </div>
            </div>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642687207/image_8_-_laura_at_night_bz7jzy.jpg"
                        class="card-img-top" alt="Hurricane Laura at night">
                    <div class="card-body">
                        <h5 class="card-title">Natural Disasters</h5>
                        <p class="card-text">Combining information about heat and reflected light allows for
                            analysis of cloud systems, pollution, fires, storms, surface temperatures, and
                            more.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg py-2">
                <div class="card ">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642687490/58370main_modis_lst_europem_nozl9z.jpg"
                        class="card-img-top" alt="Hurricane Laura at night">
                    <div class="card-body">
                        <h5 class="card-title">Global Warming</h5>
                        <p class="card-text">Thanks to satellite technology, climate researchers now have
                            more evidence that our planet has experienced abnormal warmth for at least two
                            decades.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <h4>Environmental</h4>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682231/fineartdeforestation_pdhjtb.jpg"
                        class="card-img-top" alt="Weather systems">
                    <div class="card-body">
                        <h5 class="card-title">Deforestation</h5>
                        <p class="card-text">Scientists have used satellites to track the deforestation of
                            the Amazon rainforest for several decades — enough time to see some remarkable
                            shifts in the pace and location of clearing.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682190/nasa2_cjgb9l.jpg"
                        class="card-img-top" alt="Hurricane Laura at night">
                    <div class="card-body">
                        <h5 class="card-title">Wildfire detection</h5>
                        <p class="card-text">Satellite imagery can track the spread and destruction of wildfires and
                            smoke.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682213/image_4_-_the_parched_parana_river_ku0fqt.jpg"
                        class="card-img-top" alt="Hurricane Laura at night">
                    <div class="card-body">
                        <h5 class="card-title">Drought detection</h5>
                        <p class="card-text">Satellite imagery can be used to help identify areas of drought over
                            time. Near real-time monitoring of drought conditions can be useful for monitoring crops
                            and forecasting yield.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <h4>Urban Changes</h4>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643303344/httpswww.nknews_lq7guw.jpg"
                        class="card-img-top" alt="Weather systems">
                    <div class="card-body">
                        <h5 class="card-title">Infrastructure Growth</h5>
                        <p class="card-text">Satellite imagery can captures the changes in infrastructure on Earth,
                            whether referring to city growth over decades, or a smaller-scale urban developement project
                            over
                            a few months</p>
                    </div>
                </div>
            </div>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643303236/axios-light-pollution_rtibwd.jpg"
                        class="card-img-top" alt="Hurricane Laura at night">
                    <div class="card-body">
                        <h5 class="card-title">Light pollution</h5>
                        <p class="card-text">Earth orbiting satellites can intercept light scattered in cities and
                            provide a useful insight to growth rate of cities and electricity usage.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg py-2">
                <div class="card">
                    <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643303586/mapboxnewsatelliteimageryindia_tzsayw.jpg"
                        class="card-img-top" alt="Hurricane Laura at night">
                    <div class="card-body">
                        <h5 class="card-title">City planning</h5>
                        <p class="card-text">There's a growing demand for up-to-date land topography and land use maps,
                            as well as other spatial data products. These maps are essential to land use development and
                            engineering applications.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="purpose-section">
            <h3>Further applications</h3>
            <p>Additional uses for satellite imagery are:</p>
            <ul>
                <li>Conservation</li>
                <li>Geology</li>
                <li>Cartogrophy</li>
                <li>Education</li>
                <li>Intelligence</li>
                <li>Warfare</li>
                <li>Seismology</li>
                <li>Oceanography</li>
            </ul>
        </div>

    </div>
    <hr>

    <div id="discover-examples">
        <div class="purpose-section">
            <h3 id="discover-examples-title">Examples</h3>
            <p>Read some of our examples of previous clients who have used satellite imagery collected by this platform.
            </p>

            <div class="row">
                <div class="col-md" style=" text-align: justify">
                    <h5>Changes in forestry landscape</h5>
                    <p>Adam owns a mountain bike shop in Dunkeld, Scotland and is heavily involved in local trail
                        maintenance.
                        The mountain bike industry is growing rapidly in the small community, and officials must respond
                        to the
                        demand for new trails, and keeping current trails safe.</p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643307526/wideopenmountainbike_rpmzzw.jpg">
                    </div>
                    <span class="image-caption"><small>Mountain biking trails are steadily increasing in the
                            area</small></span><br><br>

                    <p>Adam uses our platform to search for images of the surrounding hills and forestry areas, and the
                        trail
                        maintenance committee can respond accordingly. Using satellite imagery reduces the hours
                        committee
                        members are sent onto the hills to walk many kilometers of trails in person.
                        The images can show detail of windfall, deforestation, broken features and scope for new
                        trails.</p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643306057/San-Bernardino-NF-National-Forest_11_C3_R3_900x_ql10x3.jpg">
                    </div>
                    <span class="image-caption"><small>Satellite view of Dunkeld</small></span><br><br>

                    <p>A False Colour Infrared image type is used for this pipeline, as it is ideal for tracking
                        vegetation
                        health or changes.
                        An interval of one month (i.e. one image per month) is suitable for this kind of pipeline, as
                        vegetation
                        changes are very gradual.</p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643307525/2a97adcc8bbbcca8c8e9976fd216914d_xyai0t.jpg">
                    </div>
                    <span class="image-caption"><small>Example of false infrared satellite image in forestry
                            landscapes</small></span><br><br>

                </div>

            </div>

            <div class="row">
                <div class="col-md" style=" text-align: justify">
                    <h5>Monitoring global ice reduction</h5>
                    <p>Since satellites became equipped to measure sea level, sea surface temperatures, sea-ice
                        fluctuation and vegetation coverage, they have been instrumental in providing environmental
                        scientists with information about the rise in sea temperatures and reduction of polar ice.</p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682186/nasa_tds1ps.jpg">
                    </div>
                    <span class="image-caption"><small>Stunning image captured by Nasa of a the icy river Delta in Kazahkstan</small></span><br><br>

                    <p></p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643455161/pgc-umn-polar_czcdof.jpg">
                    </div>
                    <span class="image-caption"><small>Satellite image showing topographical details of Arctic Islands in Canada</small></span><br><br>

                    <p></p>
                    <div class="d-flex justify-content-center">
                        <img
                            src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1643307525/2a97adcc8bbbcca8c8e9976fd216914d_xyai0t.jpg">
                    </div>
                    <span class="image-caption"><small>Example of false infrared satellite image in forestry
                            landscapes</small></span><br><br>

                </div>

            </div>
        </div>
    </div>
    <hr>

    <div id="discover-news">
        <div class="purpose-section">
            <h3 id="discover-news-title">In the news</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta euismod ligula in semper.
                Quisque dapibus pretium quam vitae congue.</p>
        </div>

    </div>
    <hr>

    <div id="discover-glossary">
        <div class="purpose-section">
            <h3 id="discover-glossary-title">Glossary</h3>
            <p>Here is a glossary of technical terms you may find while using this website</p>

            <table class="table">

                <tr>
                    <td>AOI</td>
                    <td>The AOI, or Area of Interest, is the determined location on the surface of the Earth, of which
                        you
                        hope to receive satellite images.</td>
                </tr>

                <tr>
                    <td>AOI coverage</td>
                    <td>The AOI coverage refers to the percentage of the AOI which was selected which could be captured
                        by
                        satellite imaging technology. If a satellite does not have 100% field of vision of the selected
                        AOI,
                        only a portion of that AOI can be captured.<br>
                        All pipelines created on our platform gurantee that all images will have captured at least 50%
                        of
                        the AOI selected.</td>
                </tr>

                <tr>
                    <td>API</td>
                    <td>An API is an Application Programming Interface. It is a third-party set of functions which can
                        be
                        'called' by another platform to provide data. Spaceport uses the Skywatch API to match up your
                        parameters
                        to suitable satellites and create your pipelines.
                    </td>
                </tr>

                <tr>
                    <td>Archived imagery</td>
                    <td>Imagery which has already been captured and downloaded by satellites. If your pipeline involves
                        any
                        intervals which started and finished before today, it will deliver archived images. These can be
                        delivered straight away, once we have processed them.</td>
                </tr>

                <tr>
                    <td>Cloud cover percentage</td>
                    <td>This parameter refers to the maximum allowable percentage of the delivered image which can be
                        obscured by clouds.</td>
                </tr>

                <tr>
                    <td>Field of vision</td>
                    <td>The field of vision (FOV) or field of view is the </td>
                </tr>

                <tr>
                    <td>geoJSON</td>
                    <td>The AOI is represented in geoJSON format, which is a format for encoding a variety of geographic
                        data structures. Each point you choose on the map will have a longitude and latitude, and the
                        geoJSON is compiled of all the coordinates in one array.</td>
                </tr>

                <tr>
                    <td>Image resolution</td>
                    <td>This refers to the detail an image holds, and how many visible pixels proportionate to the size
                        of
                        the image. An image with a resolution of 10 metres means that each pixel stands for a 10 m x 10
                        m
                        area on the ground. <br>Images available to the users on this platform will have a resolution
                        between 8 and 15 metres.</td>
                </tr>

                <tr>
                    <td>Metadata</td>
                    <td>Metadata is considered 'data about data'; in this case, refers to the raw data about the
                        satellite
                        used to capture the image. <br>
                        Any images delivered to your pipeline will provide a relevant link with all the metadata for
                        that
                        image. This data is used when post processing the image for whatever the purpose may be.</td>
                </tr>

                <tr>
                    <td>Output type</td>
                    <td>There are many different kinds of images satellites can capture, for all kinds of purposes.
                        <br>For
                        example, infrared satellite imagery can be used for global warming projects, to capture
                        temperature
                        differences on the Earth's surface and in the atmosphere. <br>
                        The output type is the type of image you wish your pipeline to deliver. On this platform, there
                        are
                        six output image
                        types to choose from.</td>
                </tr>

                <tr>
                    <td>Pipeline</td>
                    <td>A pipeline is a term used across many industries to describe an organised plan, with a start and
                        end
                        date, involving a series of stages.<br>
                        In this context, we are looking for satellite images between two dates, hopefully delivering
                        results
                        within specified intervals.<br>It is similar to a project timeline, with defined goals along the
                        way
                        to be met by specific dates.</td>
                </tr>

                <tr>
                    <td>Satellite aquisition</td>
                    <td>The API used on this platform uses the AOI, interval dates and other parameters selected to
                        match up
                        to the most suitable satellite.<br>
                        Satellites follow a specific trajectory around the Earth, therefore the API cross references the
                        selected AOI with any satellites orbiting above that AOI. Satellites also have a limited
                        footprint
                        (area of the Earth's surface which is visible to them).<br>
                        If the satellite orbits above the AOI within the prescribed interval, and can meet all other
                        parameter requirements, this is successful satellite aquisition.<br>
                        See these sources for more information on satellite trajectories and see satellites in orbit. <a
                            href="https://maps.esri.com/rc/sat2/index.html">Esri</a> | <a
                            href="https://spectator.earth/">Spectator Earth</a> | <a href="https://www.n2yo.com/">NY20
                    </td>
                </tr>

                <tr>
                    <td>Tasking</td>
                    <td>Tasking refers to the future plan of accessing satellite images, in effect intervals which are
                        scheduled for any time after today. Your pipeline can be a mix of archived imagery (past) and
                        tasking intervals (future).</td>
                </tr>

                <tr>
                    <td>Tasking interval</td>
                    <td>The interval is the length of time between two dates. There will be several intervals within the
                        pipeline. If the interval is set to one day, the user wishes to capture an image of that AOI
                        every
                        day. The longer the interval, the higher chance an image can be found for that interval, as
                        there is
                        less restriction on when the image can be taken and by which satellite.</td>
                </tr>








            </table>
        </div>
    </div>
    <hr>

    <div id="discover-faq">
        <div class="purpose-section">
            <h3 id="discover-faq-title">FAQ</h3>
            <p>Here are some frequently asked questions about our platform.</p>

            <h5>My pipeline starts and finishes in the past, why is it still 'active'?</h5>
            <p>Satellite imagery retrieval can take a few minutes. If your pipeline is still active, it is likely still
                either retrieving, processing or formatting the images. You are recommended to allow a few minutes for
                this process, and
                welcome to update the pipeline until complete.</p>

            <h5>Why are some of my images taken in the day, and some at night?</h5>
            <p>As long as the images have been captured within the specified interval, they will be delivered. If the
                interval is set to 1 day, the image could have been captured at any time within those 24 hours, day and
                night. Intervals cannot be set to more specific times, such as within the hour or minute.</p>

            <h5>Why was my pipeline unsuccessful in delivering images?</h5>
            <p>Successful retrieval of images depends on many factors. Most importantly, in order to capture an image of
                the area selected (AOI), a satellite must be scheduled to have the area in their field of vision within
                the specified interval dates. We do not have 100% satellite coverage of Earth, therefore it is entirely
                possible for the AOI to not have coverage by any satellites within the interval timeframe. We recommend
                increasing the interval period
                and maximising the AOI for a higher probability of satellite aquisition, and therefore delivered
                results.</p>

            <h5 id="#discover-use-images">What can I do with my satellite images?</h5>
            <p>Spaceport is a website designed to provoke curiosity in those unfamiliar with satellite imagery. If you
                have an interest in using the images for a specific purpose, you can:
                - compare all images from the same pipeline, to distinguish changes in the environment<br>
                - browse the metadata for technical information about the images<br>
                - download the images and apply standard image processing techniques, such as increasing or decreasing
                the exposure, contrast, saturation,
                and hue, to determine if you can enhance the image quality
            </p>

            <h5>Which satellites does the platform use to collect images?</h5>
            <p>Spaceport has access to the Sentinel-2 (ESA), PlanetScope (Planet), SPOT (Airbus), Skysat (Planet),
                Kompsat-3 (SIIS), and Pleiades (Airbus) satellite data.</p>
        </div>
    </div>

</div>




{% endblock content %}