{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>Discover</title>
{% endblock title %}


{% block content %}

<div id="discover-banner" class="row justify-content-center">
    <div class="col-4 align-self-center">
        <h1>Discover</h1>
    </div>
</div>

<div class="container" id="discover-container">

    <div>
        <h3>Use this page to explore the applications of satellite imagery, how it works,
            read examples and how getting access has helped many businesses achieve more</h3>
    </div>

    <div class="row d-flex justify-content-evenly">
        <div class="col">
            <h4>Applications</h4>
        </div>

        <div class="col">
            <h4>Examples</h4>
        </div>

        <div class="col">
            <h4>In the news</h4>
        </div>

        <div class="col">
            <h4>Glossary</h4>
        </div>
    </div>

    <div>

        <div id="applications">
            <div class="purpose-section">
                <h3>Applications</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta euismod ligula in semper.
                    Quisque dapibus pretium quam vitae congue.</p>
            </div>

            <div class="row">

                <h4>Meteorology</h4>

                <div class="col-md">
                    <div class="card">
                        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682231/noaasgoes13w_yu3tgs.jpg"
                            class="card-img-top" alt="Weather systems">
                        <div class="card-body">
                            <h5 class="card-title">Weather prediction</h5>
                            <p class="card-text">Combined with visible light imaging, satellites can capture a
                                nearly full picture of weather systems</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642687207/image_8_-_laura_at_night_bz7jzy.jpg"
                            class="card-img-top" alt="Hurricane Laura at night">
                        <div class="card-body">
                            <h5 class="card-title">Natural Disasters</h5>
                            <p class="card-text">Combining information about heat and reflected light allows for
                                analysis of cloud systems, pollution, fires, storms, surface temperatures, and
                                more.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642687490/58370main_modis_lst_europem_nozl9z.jpg"
                            class="card-img-top" alt="Hurricane Laura at night">
                        <div class="card-body">
                            <h5 class="card-title">Global Warming</h5>
                            <p class="card-text">Thanks to satellite technology, climate researchers now have
                                more evidence that our planet has experienced abnormal warmth for at least two
                                decades.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <h4>Environmental</h4>

                <div class="col-md">
                    <div class="card">
                        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682231/fineartdeforestation_pdhjtb.jpg"
                            class="card-img-top" alt="Weather systems">
                        <div class="card-body">
                            <h5 class="card-title">Deforestation</h5>
                            <p class="card-text">Scientists have used satellites to track the deforestation of
                                the Amazon rainforest for several decades — enough time to see some remarkable
                                shifts in the pace and location of clearing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682190/nasa2_cjgb9l.jpg"
                            class="card-img-top" alt="Hurricane Laura at night">
                        <div class="card-body">
                            <h5 class="card-title">Wildfire detection</h5>
                            <p class="card-text">Satellite imagery can track the spread and destruction of wildfires and
                                smoke.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card">
                        <img src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682213/image_4_-_the_parched_parana_river_ku0fqt.jpg"
                            class="card-img-top" alt="Hurricane Laura at night">
                        <div class="card-body">
                            <h5 class="card-title">Drought detection</h5>
                            <p class="card-text">Satellite imagery can be used to help identify areas of drought over
                                time. Near real-time monitoring of drought conditions can be useful for monitoring crops
                                and forecasting yield.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div id="applications">
            <div class="purpose-section">
                <h3>Examples</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta euismod ligula in semper.
                    Quisque dapibus pretium quam vitae congue.</p>
            </div>

        </div>
    </div>

    <div id="applications">
        <div class="purpose-section">
            <h3>In the news</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta euismod ligula in semper.
                Quisque dapibus pretium quam vitae congue.</p>
        </div>

    </div>
</div>

<div id="applications">
    <div class="purpose-section">
        <h3>Glossary</h3>
        <p>Here is a glossary of technical terms you may find while using this website</p>

        <able>
            <tr>
                <td>Pipeline</td>
                <td>A pipeline is a term used across many industries to describe an organised plan, with a start and end
                    date, involving a series of stages.<br>
                    In this context, we are looking for satellite images between two dates, hopefully delivering results
                    within specified intervals.</td>
            </tr>

            <tr>
                <td>AOI</td>
                <td>The AOI, or Area of Interest, is the determined location on the surface of the Earth, of which you
                    hope to receive satellite images.</td>
            </tr>

            <tr>
                <td>AOI coverage</td>
                <td>The AOI coverage refers to the percentage of the AOI which was selected which could be captured by
                    satellite imaging technology.<br>
                    All pipelines created on our platform gurantee that all images will have captured at least 50% of
                    the AOI selected.</td>
            </tr>

            <tr>
                <td>Archived imagery</td>
                <td>Imagery which has already been captured and downloaded by satellites. If your pipeline involves any
                    intervals which will start and finish before today will deliver archived images.</td>
            </tr>



        </able>
    </div>

</div>
</div>


</div>

</div>


{% endblock content %}