{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Edit pipeline</title>
{% endblock title %}

{% block content %}
<div class="container-fluid" id="edit-container">
    <div class="container">

        <form action="{% url 'edit_pipeline' pipeline.id %}" method="POST" id="edit_form">
            {% csrf_token%}

            <!-- ensure users can only edit their own pipelines -->
            {% if pipeline in users_pipelines %}

            <!-- ensure users can only edit active pipelines -->
            {% if pipeline.status == 'complete' or pipeline.status == 'pending' or pipeline.status == 'saved' %}
            <h3 class="text-center m-3">You cannot edit <strong>"{{pipeline.pipeline_name}}"</strong> unless the status
                is Active.</h3>
            <div class="d-flex justify-content-center p-5">
                <a href="{% url 'detail_view' pipeline.id %}"><button class="btn btn-dark btn-lg"><i
                            class="fas fa-arrow-left"></i>Back</button></a>
            </div>
            {% else %}

            <!-- edit form -->
            <h2>Edit &nbsp; <strong>"{{pipeline.pipeline_name}}"</strong></h2>
            <br>
            <p>Use this form to edit the following details for your pipeline.</p>
            <p><small>As pipelines have very specific technical parameters, only the following fields can be edited.<br>
                    For choosing a new AOI, interval set up, or output image, please <a href="{% url 'create' %}">create
                        a new pipeline</a>.</small></p>

            <div class="input-sections">
                <label for="pipeline_name" class="form-label">Name</label>
                {{form.pipeline_name}}
            </div>

            <div class="input-sections">
                <label for="pipeline_name" class="form-label">Description</label>
                {{form.pipeline_des}}
            </div>

            <div class="row pt-2 ">
                <div class="col-sm p-4 d-flex justify-content-center">
                    <a href="{% url 'detail_view' pipeline.id %}"><button class="btn btn-dark btn-lg mx-auto"><i
                                class="fas fa-arrow-left"></i>Back</button></a></div>
                <div class="col-sm p-4 d-flex justify-content-center">
                    <a><button type="submit" class="btn btn-dark btn-lg mx-auto"><i
                                class="far fa-save"></i>Save</button></a>
                </div>
            </div>
            {% endif %}
            {% else %}
            <h1 class="text-center m-3 py-5">404: Page not found</h1>
            <h3 class="text-center m-3">Users can only edit their own pipelines.</h3>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}