{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/c013b232df.js" crossorigin="anonymous"></script>

    <title>Spaceport</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg py-2">
        <div class="container-fluid">
            <a id="nav-icon" href="{% url 'homepage' %}"><img src="../static/images/neptune-01.svg"></a>
            <a class="nav-link" href="{% url 'homepage' %}">SPACEPORT</a>

            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' %}">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'my_pipelines' %}">Pipelines</a>
                    </li>
                    {% else %}
                    {% endif %}
                </ul>
                <ul class="navbar-nav mb-2 mb-lg-0 justify-content-end">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        <p>Logged in as <strong>{{user}}</strong></p>
                    {% else %}
                    </li>
                    <a class="nav-link" href="{% url 'account_login' %}">Login/Sign Up</a>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>



   
    <!-- <h1>Spaceport</h1>


    {% if user.is_authenticated %}
    <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'account_login' %}">Login</a>
    {% endif %}  -->

    {% block content %}
    <p>hello</p>
    {% endblock content %}

</body>

</html>