{% extends 'base.html' %}

{% load static %}

<div class="container-fluid" id="index-container">
    {% block content %}
    {% if error %}
    <div style="padding-top: 100px; border: solid black; width: 50%; margin-left: 25%;">
        <h2 style="text-align: center">{{error}}</h2>
    </div>
    {% else %}
    {% endif %}

    <!-- banner image and text -->
    <div id="banner-section">
        <div class="row align-items-center">
            <div class="col-md order-last order-md-first">
                <div id="index-banner-text" class="p-5">
                    <h1>Access satellite imagery in minutes</h1>
                    <br>
                    <p>It only takes 5 minutes to fill in our simple 'Create a Pipeline' form, and can be done as many
                        times as you
                        need.
                        Simply set up an account, and we'll guide you through the process. All our images are
                        <strong>free</strong>.</p>
                </div>
            </div>

            <!-- banner image -->
            <div class="col-md" id="index-banner" title="Space X Satellite">
            </div>
        </div>
    </div>

    <!-- section to tell users what the site does -->
    <div class="container" id="site-purpose-section">

        <!-- what to do -->
        <div>

            <div class="purpose-section">
                <h3>Images of where you want, when you want</h3>
                <p>Tell us where to look for images, and on which dates you'd like them taken - this setup is called a
                    <strong> pipeline</strong>.</p>
            </div>

            <div class="row">

                <div class="col-sm" id="purpose-img1" title="San Francisco on Google Maps">
                </div>

                <div class="col-sm" id="purpose-img2" title="San Francisco satellite image">
                </div>

            </div>
            <p>Google Maps view of San Francisco Bay | Satellite image of San Francisco Bay</p>

            <div class="purpose-section">
                <h3>Let us look for results</h3>
                <p>We will then search our network of satellite providers, using an API to match up your chosen Area
                    of Interest (or AOI) to a satellite which provides coverage of the location within the interval
                    selected.</p>
            </div>

            <div id="purpose-img3" title="Trajectory of satellites from Spectator.earth">
            </div>
            <p><a href="https://app.spectator.earth/acquisition-plan?@31.473648203965688,24.412073223271108,2z">Spectator Earth Aquisition Plan View</a>&nbsp;&nbsp red dots - satellites | dotted curves - satellite trajectories/orbits | turquoise bands: satellite field of view</p>

            <div class="purpose-section">
                <h3>Follow the progress of your pipeline</h3>
                <p>As soon as the pipeline is created, you can track the results and upcoming intervals.<br>
                    You can also monitor the status of the pipeline, or edit specific parameters.</p>
            </div>

            <div id="purpose-img4" title="Progress timeline of pipeline">
            </div>

            <div class="purpose-section">
                <h3>Download high quality pictures and metadata</h3>
                <p>Once the images are taken, you can download them and any associated data to use in post
                    production.</p>
            </div>

            <div class="row">
                <div class="col-md">
                    <div id="purpose-img5" title="Progress timeline of pipeline">
                    </div>
                    <p>A Delta Oasis in Southeastern Kazakhstan, NASA Earth Observatory</p>
                </div>

                <div class="col-md">
                    <div id="purpose-img6" title="Progress timeline of pipeline">
                    </div>
                    <p>The Parched Paraná River, NASA Earth Observatory</p>
                </div>

                <div class="col-md">
                    <div id="purpose-img7" title="Progress timeline of pipeline">
                    </div>
                    <p>Guinea-Bissau coastal waters, NASA Earth Observatory</p>
                </div>
            </div>

            <div class="purpose-section">
                <h2>Ready to explore earth from space?</h2>
                <h5>Learn more about the applications of satellite imagery, browse examples and current events, or
                    <strong>create your own pipeline</strong></h5>

                <div class="row py-5">
                    <div class="col-md py-2">
                        <a href="{% url 'discover' %}"><button class="btn btn-dark btn-lg"><i
                                    class="fas fa-search"></i>Discover
                                More</button></a>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="col-md py-2"><a href="{% url 'create' %}"><button class="btn btn-dark btn-lg"><i
                                    class="far fa-images"></i>Create
                                a
                                Pipeline</button></a></div>
                    {% else %}
                    <div class="col-md py-2"><a href="{% url 'account_login' %}"><button class="btn btn-dark btn-lg"><i
                                    class="fa fa-sign-in"></i>Sign
                                Up</button></a></div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}