{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>My Pipelines</title>
{% endblock title %}

{% block content %}

<div id="my_pipelines_container" class="container-fluid">
    {% if user.is_authenticated %}
    <div id="my_pipelines_blurb">
        <h3>MY PIPELINES</h3>
        <p>See a list below of all your current pipelines, ordered by status</p>

        {% if active_num == 0 and complete_num == 0 and pending_num == 0 %}
        <div>
            <h4>You currently have no pipelines</h4>
            <br>
            <h6>Learn more about creating a pipeline here</h6>
            <h6>Create a new pipeline here</h6>
        </div>
        {% else %}
        <div class="row py-4">
            <div class="col px-3">
                <div><a class="pipelines_links" href="#active_pipelines" class="status_buttons">Active
                        ({{active.count}})</a></div>
                <p><small>pipelines currently searching for images</small></p>
            </div>

            <div class="col px-3">
                <div><a class="pipelines_links" href="#complete_pipelines" class="status_buttons">Complete
                        ({{complete.count}})</a></div>
                <p><small>pipelines which have completed all intervals</small></p>
            </div>

            <div class="col px-3">
                <div><a class="pipelines_links" href="#pending_pipelines" class="status_buttons">Pending
                        ({{pending.count}})</a></div>
                <p><small>recently created pipelines still gathering information</small></p>
            </div>

            <!-- <div class="col px-3">
                <div><a class="pipelines_links" href="#saved_pipelines" class="status_buttons">Saved
                        ({{saved.count}})</a>
                </div>
                <p><small>saved 'Create Pipeline' forms not yet submitted</small></p>
            </div> -->
        </div>
        {% endif %}
    </div>

    <div id="pipeline_list_div">

        <div id="active_pipelines">
            <h1>ACTIVE ({{active.count}})</h1>
            <hr>
            <div class="row">
                {% for pipeline in active %}
                <div class="col-sm-6 col-md-4 col-xxl-3">
                    <div class="card my-3" id="pipeline_card">
                        {% if pipeline.featured_image %}
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img"
                            src="{{pipeline.featured_image}}"
                                alt="pipeline image"></a>
                        {% else %}
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img"
                                src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682210/satellite-1030782_1920_xgul20.jpg"
                                alt="pipeline image"></a>
                        {% endif %}
                        <div class="card-body">
                            <p>{{pipeline.start_date|date:'d M'}} - {{pipeline.end_date|date:'d M'}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}<br>
                                {% if pipeline.num_images is None %}
                                {% else %}
                                <i class="far fa-images"></i>{{pipeline.num_images}}</p>
                                {% endif %}
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                            
                        </div>
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>

        <div id="complete_pipelines">
            <h1>COMPLETE ({{complete.count}})</h1>
            <hr>
            <div class="row">
                {% for pipeline in complete %}
                <div class="col-sm-6 col-md-4 col-xxl-3">
                    <div class="card my-3" id="pipeline_card">
                       
                        {% if pipeline.featured_image %}
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img" src="{{pipeline.featured_image}}"
                                alt="pipeline image"></a>
                        {% else %}
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img"
                                src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682210/satellite-1030782_1920_xgul20.jpg"
                                alt="pipeline image"></a>
                        {% endif %}
                        <div class="card-body">
                            <p>{{pipeline.start_date|date:'d M'}} - {{pipeline.end_date|date:'d M'}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}<br>
                                {% if pipeline.num_images is None %}
                                {% else %}
                                <i class="far fa-images"></i>{{pipeline.num_images}}</p>
                                {% endif %}
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="pending_pipelines">
            <h1>PENDING ({{pending.count}})</h1>
            <hr>
            <div class="row">
                {% for pipeline in pending %}
                <div class="col-sm-6 col-md-4 col-xxl-3">
                    <div class="card my-3" id="pipeline_card">
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img"
                                src="https://res.cloudinary.com/code-institute-mojos-beans/image/upload/v1642682210/satellite-1030782_1920_xgul20.jpg"
                                alt="pipeline image"></a>
                        <div class="card-body">
                            <p>{{pipeline.start_date|date:'d M'}} - {{pipeline.end_date|date:'d M'}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}</p>
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- <div id="saved_pipelines">
            <h1>SAVED ({{saved.count}})</h1>
            <hr>

            <div class="row">
                {% for pipeline in saved %}
                <div class="col-sm-6 col-md-4 col-xxl-3">
                    <div class="card my-3" id="pipeline_card">
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <i class="fas fa-tasks"></i></a>
                        <div class="card-body">
                            <p>{{pipeline.date_created}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}</p>
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div> -->
    </div>

    {% else %}
    <p style="margin-top: 150px;">Ooops you have been redirected to the wrong. Please return home.</p>
    {% endif %}

</div>




{% endblock content %}