{% extends 'index.html' %}
{% load static %}

{% block title %}
<title>My Pipelines</title>
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}

<div id="my_pipelines_container" class="container-fluid">

    <div id="my_pipelines_blurb">
        <h3>MY PIPELINES</h3>
        <p>See a list below of all your current pipelines, ordered by status</p>

        {% if active_num == 0 and complete_num == 0 and pending_num == 0 %}
        <div>
            <h4>You currently have no pipelines</h4>
            <br>
            <h6>Learn more about creating a pipeline here</h6>
            <h6>Create a new pipeline here</h6>
        </div>
        {% else %}
        <div class="row px-2 py-4">
            <div class="col">
                <div><a class="pipelines_links" href="#active_pipelines" class="status_buttons">Active ({{active_num}})</a></div>
                <p><small>pipelines currently searching for images</small></p>
            </div>

            <div class="col">
                <div><a class="pipelines_links" href="#complete_pipelines" class="status_buttons">Complete ({{complete_num}})</a></div>
                <p><small>pipelines which have completed all intervals</small></p>
            </div>

            <div class="col">
                <div><a class="pipelines_links" href="#pending_pipelines" class="status_buttons">Pending ({{pending_num}})</a></div>
                <p><small>recently created pipelines still gathering information</small></p>
            </div>

            <div class="col">
                <div><a class="pipelines_links" href="#saved_pipelines" class="status_buttons">Saved ({{saved_num}})</a></div>
                <p><small>saved 'Create Pipeline' forms not yet submitted</small></p>
            </div>
        </div>
    </div>

    <div id="pipeline_list_div">

        <div id="active_pipelines">
            <h1>ACTIVE ({{active_num}})</h1>
            <hr>

            <div class="row">
                {% for pipeline in active %}
                <div class="col mx-2">
                    <div class="card" id="pipeline_card">
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img" src="../static/images/ex_image.jpg" alt="pipeline image"></a>
                        <div class="card-body">
                            <p>{{pipeline.date_created}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}</p>
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="complete_pipelines">
            <h1>COMPLETE ({{complete_num}})</h1>
            <hr>

            <div class="row d-flex justify-content-around">
                {% for pipeline in complete %}
                <div class="col mx-2">
                    <div class="card" id="pipeline_card">
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img" src="../static/images/ex_image.jpg" alt="pipeline image"></a>
                        <div class="card-body">
                            <p>{{pipeline.date_created}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}</p>
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="pending_pipelines">
            <h1>PENDING ({{pending_num}})</h1>
            <hr>

            <div class="row">
                {% for pipeline in pending %}
                <div class="col mx-2">
                    <div class="card" class="pipeline_card">
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <img class="card-img-top" id="pipeline-card-img" src="../static/images/ex_image.jpg" alt="pipeline image"></a>
                        <div class="card-body">
                            <p>{{pipeline.date_created}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}</p>
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="saved_pipelines">
            <h1>SAVED ({{saved_num}})</h1>
            <hr>

            <div class="row">
                {% for pipeline in saved %}
                <div class="col mx-2">
                    <div class="card mx-5" class="pipeline_card">
                        <a href="{% url 'detail_view' pipeline.id %}">
                            <i class="fas fa-tasks"></i></a>
                        <div class="card-body">
                            <p>{{pipeline.date_created}}</p>
                            <h3 class="card-title">{{pipeline.pipeline_name}}</h3>
                            <p class="card-text">{{pipeline.pipeline_des}}</p>
                            <a href="{% url 'detail_view' pipeline.id %}">View <span>>></span></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endif %}

{% else %}
{% endif %}
{% endblock content %}